* {
  font-family: 'Microsoft YaHei';
  box-sizing: border-box;
}

body {
  margin: 0;
}

article {
  position: relative;
  top: 120px;
}

@media only screen and (min-width:1000px) {
  article {
    width: 60%;
    margin: 0 auto;
  }
}

header {
  z-index: 99999999;
  transition-property: none;
  width: 100%;
  height: 300px;
  padding-top: 70px;
  background-color: #ff5454;
}

h1 {
  /* position: relative; */
  height: 40px;
  /* top:  50px; */
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 32px;
  letter-spacing: .2rem;
}

.subtitle {
  height: 20px;
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 18px;
  letter-spacing: .1rem;
}
 
h3 {
  width: 100%;
  height: 30px;
  margin: 30px 0 35px 0;
  line-height: 30px;
}

.container {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 100%;
}

.chart {
  margin: 0 auto;
  height:  30rem;
  width:  100%;
}

p {
  height: 80px;
  line-height: 80px;
}



